<header>
	<div class="wrapper">
		<ul>
			<li><a href="/" class="logo">Lockheed Martin Code Quest 2017</a></li>
			<li class="first-right"><a href="https://github.com/CodeQuest2017/2017">2017</a></li>
			<li><a href="https://github.com/CodeQuest2017/2016">2016</a></li>
			<li><a href="https://github.com/CodeQuest2017/2015">2015</a></li>
			<li><a href="https://github.com/CodeQuest2017/2014">2014</a></li>
			<li><a href="https://github.com/CodeQuest2017/2013">2013</a></li>
			<li><a href="https://github.com/CodeQuest2017/2012">2012</a></li>
		</ul>
	</div>
</header>